<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="Tags" id="tags" th:fragment="cloud">
    <div class="Tag Tag_xs"><a href="/tags/index">современная литература</a>
    </div>
    <div class="Tag Tag_sm"><a href="/tags/index">классическая литература</a>
    </div>
    <div class="Tag"><a href="/tags/index">зарубежная литература</a>
    </div>
    <div class="Tag Tag_md"><a href="/tags/index">фэнтези</a>
    </div>
    <div class="Tag Tag_lg"><a href="/tags/index">английская литература</a>
    </div>
    <div class="Tag"><a href="/tags/index">русская литература</a>
    </div>
    <div class="Tag"><a href="/tags/index">американская литература</a>
    </div>
    <div class="Tag"><a href="/tags/index">фантастика</a>
    </div>
    <div class="Tag Tag_md"><a href="/tags/index">детская литература</a>
    </div>
    <div class="Tag"><a href="/tags/index">детектив</a>
    </div>
    <div class="Tag Tag_sm"><a href="/tags/index">любовь</a>
    </div>
    <div class="Tag Tag_sm"><a href="/tags/index">мистика</a>
    </div>
    <div class="Tag"><a href="/tags/index">юмор</a>
    </div>
    <div class="Tag"><a href="/tags/index">приключения</a>
    </div>
    <div class="Tag"><a href="/tags/index">сказка</a>
    </div>
    <div class="Tag"><a href="/tags/index">французская литература</a>
    </div>
    <div class="Tag Tag_xs"><a href="/tags/index">англия</a>
    </div>
    <div class="Tag"><a href="/tags/index">художественная литература</a>
    </div>
    <div class="Tag Tag_xs"><a href="/tags/index">психология</a>
    </div>
    <div class="Tag"><a href="/tags/index">философия</a>
    </div>
    <div class="Tag Tag_lg"><a href="/tags/index">экранизировано</a>
    </div>
    <div class="Tag"><a href="/tags/index">любимое</a>
    </div>
    <div class="Tag"><a href="/tags/index">антиутопия</a>
    </div>
    <div class="Tag Tag_xs"><a href="/tags/index">books you must read before you die</a>
    </div>
    <div class="Tag"><a href="/tags/index">роман</a>
    </div>
    <div class="Tag Tag_md"><a href="/tags/index">франция</a>
    </div>
    <div class="Tag"><a href="/tags/index">дайте две</a>
    </div>
    <div class="Tag"><a href="/tags/index">young adult</a>
    </div>
    <div class="Tag Tag_lg"><a href="/tags/index">война</a>
    </div>
    <div class="Tag"><a href="/tags/index">история</a>
    </div>
    <div class="Tag Tag_sm"><a href="/tags/index">флэшмоб 2016</a>
    </div>
    <div class="Tag"><a href="/tags/index">детство</a>
    </div>
    <div class="Tag"><a href="/tags/index">жизнь</a>
    </div>
    <div class="Tag"><a href="/tags/index">драма</a>
    </div>
    <div class="Tag Tag_md"><a href="/tags/index">россия</a>
    </div>
    <div class="Tag Tag_md"><a href="/tags/index">книжное путешествие</a>
    </div>
    <div class="Tag"><a href="/tags/index">советская литература</a>
    </div>
    <div class="Tag"><a href="/tags/index">триллер</a>
    </div>
    <div class="Tag"><a href="/tags/index">америка</a>
    </div>
    <div class="Tag Tag_sm"><a href="/tags/index">немецкая литература</a>
    </div>
    <div class="Tag Tag_xs"><a href="/tags/index">вампиры</a>
    </div>
    <div class="Tag"><a href="/tags/index">школьная программа</a>
    </div>
    <div class="Tag Tag_xs"><a href="/tags/index">рассказы</a>
    </div>
    <div class="Tag"><a href="/tags/index">магия</a>
    </div>
    <div class="Tag"><a href="/tags/index">дети</a>
    </div>
    <div class="Tag"><a href="/tags/index">русская классика</a>
    </div>
    <div class="Tag"><a href="/tags/index">флэшмоб 2015</a>
    </div>
    <div class="Tag"><a href="/tags/index">биография</a>
    </div>
    <div class="Tag"><a href="/tags/index">english</a>
    </div>
</div>
</html>