<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My book shelf</title>
    <style>
        #root_container{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        #books{
            width: 50%;
            border-collapse: collapse;
        }

        table{
            margin: 25px;
        }
        th{
            text-align: left;
        }

        th,td{
            border-bottom: 1px solid #ddd;
        }
    </style>
</head>
<body>
<div id="root_container">
    <form method="post" th:action="@{/books/save}" th:object="${book}">
        <table>
            <tr>
                <td>
                    <input type="text" placeholder="author" th:field="*{author}">
                    <div style="color: red" th:if="${#fields.hasErrors('author')}" th:errors="*{author}">Author error</div>
                </td>
                <td>
                    <input type="text" placeholder="title" th:field="*{title}">
                    <div style="color: red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Book_title error</div>
                </td>
                <td>
                    <input type="text" placeholder="size" th:field="*{size}">
                    <div style="color: red" th:if="${#fields.hasErrors('size')}" th:errors="*{size}">size error</div>
                </td>
                <td>
                    <input type="submit" value="save">
                </td>
            </tr>
        </table>
    </form>

    <form method="post" th:action="@{/books/remove}" th:object="${bookIdToRemove}">
        <table>
            <tr>
                <td>
                    <input type="text" placeholder="id number" th:field="*{id}">
                </td>
                <td>
                    <input type="submit" value="remove by id">
                    <p th:if="${#fields.hasErrors('id')}">Wrong id or not found</p>
                </td>
            </tr>
        </table>
    </form>

    <form method="post" th:action="@{/books/removeByRegex}" th:object="${regexToRemove}">
        <table>
            <tr>
                <td>
                    <input type="text" placeholder="regex" th:field="*{regex}">
                </td>
                <td>
                    <input type="submit" value="remove by regex">
                    <p th:if="${#fields.hasErrors('regex')}">Wrong regex or not found</p>
                </td>
            </tr>
        </table>
    </form>

    <form method="post" th:action="@{/books/uploadFile}" enctype="multipart/form-data">
        <table>
            <tr>
                <td>
                    <input type="file" name="file"/>
                </td>
                <td>
                    <input type="submit" value="Upload"/>
                </td>
            </tr>
        </table>
    </form>

    <table id="books">
        <tr>
            <th>id</th>
            <th>author</th>
            <th>title</th>
            <th>size</th>
        </tr>
        <tr th:each="book : ${bookList}">
            <td th:text="${book.id}"></td>
            <td th:text="${book.author}"></td>
            <td th:text="${book.title}"></td>
            <td th:text="${book.size}"></td>
        </tr>
    </table>
</div>

</body>
</html>